In [9]:
import pandas as pd
import altair as alt
import altair_saver
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import GradientBoostingClassifier


url = 'https://github.com/fivethirtyeight/data/raw/master/star-wars-survey/StarWars.csv'

#star_wars_dat = pd.read_csv(url, encoding = "ISO-8859-1")

star_wars_dat = pd.read_csv(url, encoding = "ISO-8859-1", skiprows = 2, header = None)
star_wars_cols = pd.read_csv(url, encoding = "ISO-8859-1", nrows = 2, header = None)


star_wars_dat

# pd.read_csv('starwars.csv')


836
pd.DataFrame(star_wars_dat).rename({'33':'gender'})

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3288388730,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3288378779,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3288375286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3288373068,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3288372923,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6.0,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

In [ ]:
new_header = star_wars_cols.iloc[0,:]

(new_header
                    .str.replace("RespondentID","id")
                    .replace("Have you seen any of the 6 films in the Star Wars franchise?", "seen_any")
                    .replace("Do you consider yourself to be a fan of the Star Wars film franchise?", "is_fan")
                    .replace("Which of the following Star Wars films have you seen? Please select all that apply.", "see_")
                    .replace("")
                    .str.lower()
                    .str.replace(" ", "-")
                    .ffill()
)


# str.replace(" ", "!")
# star_wars_cols

In [ ]:
header_2 = star_wars_cols.iloc[1,:]

header_2.replace("Response", "").replace("Do you consider yourself to be a fan of the Star Wars film franchise?", "is_fan").str.replace("Star Wars:", "")


# value_counts 936, 250  (normalize = true)
# Calculate the percentage of people who have seen at least one film.

In [ ]:
# Grand Question 2, recreate two of the visuals from the fivethirtyeight

# https://fivethirtyeight.com/features/americas-favorite-star-wars-movies-and-least-favorite-characters/


# code for counting up percent watches of each movie  watched_columns.notnull().sum()

# divide by the total of people who have seen at least one, which is 835

# do percent on x, with movie names on the y axis

# dont worry too hard to about making it exact.  The fine details are more trouble than they are worth
# data.melt().value.value_counts(sort = False)  The sort=False keeps them in the right order

# pd.get_dummies(startwars_data,gender, drop_first= True)  the drop_first drops the female columns, but the zeros in the male columns represents females so it still ok for the algorithm

In [ ]:
# Grand Questions and Tasks
# 1. Shorten the column names and clean them up for easier use with pandas.

# 2. Please validate that the data provided on GitHub lines up with the article by recreating 2 of their visuals and calculating 2 summaries that they report in the article.

# 3. Clean and format the data so that it can be used in a machine learning model. As you format the data, you should complete each item listed below. In your final report provide example(s) of the reformatted data with a short description of the changes made.

#    a. Filter the dataset to respondents that have seen at least one film.

q3 = star_wars_dat.query('have_seen_any == "Yes')

#    b. Create a new column that converts the age ranges to a single number. Drop the age range categorical column.

q3.age.value_counts()

ml_age = (q3.age.replace("> ", "")
.str.split("-", expand = True)
.astype("float")
.rename(columns = {0:'age_min', 1:'age_max'})
.age_min
)


# split the age column on the dash (-) into a min and max for each age range
#

#    c. Create a new column that converts the school groupings to a single number. Drop the school categorical column.
# break them into numbers, sort of numbers of years

q3.education.value_counts()
ml_education = (q3.education
                    .replace("Less than a high school degree", 10)
                    .replace("High school degree", 12)
                    .replace("Some college or Associate degree", 14)
                    .replace("Bachelor degree", 16)
                    .replace("Graduate degree", 20)
                    
                    )



# less than high school = 8, high school = 12, some college = 14, bachelors degree = 16, grad degree = 18

#    d. Create a new column that converts the income ranges to a single number. Drop the income range categorical column.
#    e. One-hot encode all remaining categorical columns.

pd.get_dummies(q3.location_census_region)

pd.get_dummies(q3.filter(['gender', 'shot_first']))
# get dummies has pretty good documentation



#    f. Create your target (also known as "y" or "label") column based on the new income range column.

    # ml_income > 50000  this will give us our target column


# 4. Build a machine learning model that predicts whether a person makes more than $50k. Describe your model and report the accuracy.

    # our model is targeting the greater than 50k range.  We need to convert income into a boolean of greater or less than $50k

star_wars_ml = pd.concat([new columns, 
                        q3.filter([columns i didnt make new]),
                        any_other new columns], axis = 1)

# make sure they all have the same number of rows
# don't drop anything when you do this so they have the same number of rows

# train_test_split()  give us xtrain, xtest, ytrain, ytest
# my_model = DecisionTreeClassifier()
#my_model.fit()
# my_model.predict
# accuracy_score